<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>289589317383-s19s1936o66u90h5s57a3ih3jppbci3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289589317383-s19s1936o66u90h5s57a3ih3jppbci3r</string>
	<key>API_KEY</key>
	<string>AIzaSyCUEnh_JyFe7UMQPun7cRnc8UKqssznKYE</string>
	<key>GCM_SENDER_ID</key>
	<string>289589317383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.querocafe</string>
	<key>PROJECT_ID</key>
	<string>quero-cafe-app</string>
	<key>STORAGE_BUCKET</key>
	<string>quero-cafe-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289589317383:ios:24c4cf174793c795</string>
	<key>DATABASE_URL</key>
	<string>https://quero-cafe-app.firebaseio.com</string>
</dict>
</plist>