// Fonts
// --------------------------------------------------

$fa-font-path: "../assets/fonts" !default;
@import "font-awesome";
i[class^="fa-"],
ion-icon[class^="fa-"] {
  font-family: "FontAwesome" !important;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('../assets/fonts/dancing-script.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

// Functions
// --------------------------------------------------
@function colors($name){
  @return map-get($colors, $name);
}


// Customizations
// --------------------------------------------------
ion-footer {
  .button {
    margin: 0 !important;
  }
}